<footer class="footer">
  <div class="copy">
    <p>{{#if active.index }}Время работы{{else}}E: valbrestgsm@mail.ru{{/if}}</p>
    <p>{{#if active.index }}10:00 - 18:00{{else}}T: +375 (29) 862 56 84{{/if}}</p>
  </div>
  <div class="soc-box">
    <div class="follow-label">Мы в соцсетях</div>
    <div class="soc">
      <a target="_blank" href="https://vk.com/radioboxbrest/">
        <span class="icon fab fa-vk"></span>
      </a>
      <a target="_blank" href="https://www.instagram.com/radioboxbrest/">
        <span class="icon fab fa-instagram"></span>
      </a>
      <a target="_blank" href="https://www.youtube.com/user/maximumsvoimirukami/">
        <span class="icon fab fa-youtube-square"></span>
      </a>
    </div>
  </div>
  <div class="clear"></div>
</footer>