<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Meta -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="контакты магазина radiobox" />
  <meta name="keywords" content="+375 (29) 862 56 84, valbrestgsm@mail.ru" />
  <!-- <meta name="author" content="beshleyua" /> -->

  <!-- Title -->
  <title>Магазин радиотоваров в Бресте</title>

  <!-- Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic"
    rel="stylesheet" />

  <!-- Styles -->
  <link rel="stylesheet" href="css/basic.css" />
  <link rel="stylesheet" href="css/layout.css" />
  <link rel="stylesheet" href="css/magnific-popup.css" />
  <link rel="stylesheet" href="css/animate.css" />
  <link rel="stylesheet" href="css/jarallax.css" />
  <link rel="stylesheet" href="css/swiper.css" />
  <link rel="stylesheet" href="css/fontawesome.css" />
  <link rel="stylesheet" href="css/brands.css" />
  <link rel="stylesheet" href="css/solid.css" />
  <link rel="stylesheet" href="css/theme-colors/blue.css" />

  <!--[if lt IE 9]>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <link rel="shortcut icon" href="images/favicons/favicon.ico" />
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
      m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
      m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(47730136, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true
    });
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/47730136" style="position:absolute; left:-9999px;" alt="" /></div>
  </noscript>
  <!-- /Yandex.Metrika counter -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110528764-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-110528764-1');
  </script>

</head>

<body>
  <!-- Preloader -->
  <div class="preloader">
    <div class="centrize full-width">
      <div class="vertical-center">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Container -->
  <div class="container">
    <!-- Cursor -->
    <div class="cursor-follower"></div>

    {{> header }}
    <!-- Wrapper -->
    <div class="wrapper">
      <!-- Section Started -->
      <div class="section started section-title" id="section-started">
        <!-- background -->
        <div class="video-bg">
          <div class="map" id="map"></div>
          <div class="video-bg-mask"></div>
          <div class="video-bg-texture" id="grained_container"></div>
        </div>

        <!-- started content -->
        <div class="centrize full-width">
          <div class="vertical-center">
            <div class="started-content">
              <h1 class="h-title"></h1>
              <div class="h-subtitles">
                <div class="h-subtitle typing-bread">
                  <p class="breadcrumbs">
                    <a href="/">Главная</a> / Контакты
                  </p>
                </div>
                <span class="typed-bread"></span>
              </div>
            </div>
          </div>
        </div>

        <!-- mosue button -->
        <a href="javascript: void(0)" class="mouse_btn" style="display: none;"><span
            class="icon fas fa-chevron-down"></span></a>
      </div>

      <!-- Section Contacts Info -->
      <div class="section contacts" id="section-contacts-info">
        <div class="content">
          <!-- title -->
          <div class="title">
            <div class="title_inner">Контактная информация</div>
          </div>

          <!-- contacts items -->
          <div class="service-items">
            <div class="service-col">
              <div class="service-item content-box">
                <div class="icon"><span class="fas fa-phone"></span></div>
                <div class="name">Телефон</div>
                <div class="text">+375 (29) 862 56 84</div>
              </div>
            </div>

            <div class="service-col">
              <div class="service-item content-box">
                <div class="icon"><span class="fab fa-viber"></span></div>
                <div class="name">Viber</div>
                <div class="text">+375 (29) 524 87 88</div>
              </div>
            </div>

            <div class="service-col">
              <div class="service-item content-box">
                <div class="icon"><span class="fas fa-envelope"></span></div>
                <div class="name">Email</div>
                <div class="text">
                  <a href="mailto:valbrestgsm@mail.ru">valbrestgsm@mail.ru</a>
                </div>
              </div>
            </div>

            <div class="service-col">
              <div class="service-item content-box">
                <div class="icon">
                  <span class="fas fa-map-marker-alt"></span>
                </div>
                <div class="name">Адрес</div>
                <div class="text">Брест, ул.Куйбышева 13 пав.4</div>
              </div>
            </div>
          </div>

          <div class="clear"></div>
        </div>
      </div>

      <!-- Section Contacts Form -->
      <div class="section contacts" id="section-contacts">
        <div class="content">
          <!-- title -->
          <div class="title">
            <div class="title_inner">Контактная форма</div>
          </div>

          <!-- form -->
          <div class="contact_form content-box">
            <form id="cform" method="post">
              <div class="group-val">
                <input type="text" name="name" placeholder="Имя" />
              </div>
              <div class="group-val">
                <input type="email" name="email" placeholder="Email" />
              </div>
              <div class="group-val ct-gr">
                <textarea name="message" placeholder="Сообщение"></textarea>
              </div>
              <div class="group-bts">
                <button type="submit" class="btn hover-animated">
                  <span class="circle"></span>
                  <span class="lnk">Отправить сообщение</span>
                </button>
              </div>
            </form>
            <div class="alert-success">
              <p>Спасибо, ваше сообщение успешно отправлено.</p>
            </div>
            <div class="spinner">
              <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="copy">
        <p>E: valbrestgsm@mail.ru</p>
        <p>T: +375 (29) 862 56 84</p>
      </div>
      <div class="soc-box">
        <div class="follow-label">Мы в соцсетях</div>
        <div class="soc">
          <a target="_blank" href="https://vk.com/radioboxbrest/">
            <span class="icon fab fa-vk"></span>
          </a>
          <a target="_blank" href="https://www.instagram.com/radioboxbrest/">
            <span class="icon fab fa-instagram"></span>
          </a>
          <a target="_blank" href="https://www.youtube.com/user/maximumsvoimirukami/">
            <span class="icon fab fa-youtube-square"></span>
          </a>
        </div>
      </div>
      <div class="clear"></div>
    </footer>

    <!-- Lines -->
    <div class="lines">
      <div class="line-col"></div>
      <div class="line-col"></div>
      <div class="line-col"></div>
      <div class="line-col"></div>
      <div class="line-col"></div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.validate.js"></script>
  <script src="js/magnific-popup.js"></script>
  <script src="js/simpleParallax.js"></script>
  <script src="js/typed.js"></script>
  <script src="js/jarallax.js"></script>
  <script src="js/jarallax-video.js"></script>
  <script src="js/jarallax-element.js"></script>
  <script src="js/imagesloaded.pkgd.js"></script>
  <script src="js/isotope.pkgd.js"></script>
  <script src="js/swiper.js"></script>
  <script src="js/grained.js"></script>

  <!-- Google map api -->
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp5go_uPMDFMOEJX0Sq-csxi8UulirUJU"></script>

  <script src="js/scripts.js"></script>
</body>

</html>