<!DOCTYPE html>
<html lang="ru">

{{> head }}

<body>

  {{> preloader }}

  <div class="container">

    {{> cursor }}

    {{> header }}

    <div class="wrapper">
      <div class="section started section-title" id="section-started">
        <!-- background -->
        <div class="video-bg">
          <div class="map" id="map"></div>
          <div class="video-bg-mask"></div>
          <div class="video-bg-texture" id="grained_container"></div>
        </div>
        <!-- content -->
        <div class="centrize full-width">
          <div class="vertical-center">
            <div class="started-content">
              <h1 class="h-title"></h1>
              <div class="h-subtitles">
                <div class="h-subtitle typing-bread">
                  <p class="breadcrumbs">
                    <a href="/">Главная</a> / Контакты
                  </p>
                </div>
                <span class="typed-bread"></span>
              </div>
            </div>
          </div>
        </div>

        {{> chevron }}

      </div>

      <!-- Section Contacts Info -->
      <div class="section contacts" id="section-contacts-info">
        <div class="content">
          <!-- title -->
          <div class="title">
            <div class="title_inner">Контактная информация</div>
          </div>

          <!-- contacts items -->
          <div class="service-items">
            <div class="service-col">
              <div class="service-item content-box">
                <div class="icon"><span class="fas fa-phone"></span></div>
                <div class="name">Телефон</div>
                <div class="text">+375 (29) 862 56 84</div>
              </div>
            </div>

            <div class="service-col">
              <div class="service-item content-box">
                <div class="icon"><span class="fab fa-viber"></span></div>
                <div class="name">Viber</div>
                <div class="text">+375 (29) 524 87 88</div>
              </div>
            </div>

            <div class="service-col">
              <div class="service-item content-box">
                <div class="icon"><span class="fas fa-envelope"></span></div>
                <div class="name">Email</div>
                <div class="text">
                  <a href="mailto:valbrestgsm@mail.ru">valbrestgsm@mail.ru</a>
                </div>
              </div>
            </div>

            <div class="service-col">
              <div class="service-item content-box">
                <div class="icon">
                  <span class="fas fa-map-marker-alt"></span>
                </div>
                <div class="name">Адрес</div>
                <div class="text">Брест, ул.Куйбышева 13 пав.4</div>
              </div>
            </div>
          </div>

          <div class="clear"></div>
        </div>
      </div>

      <!-- Section Contacts Form -->
      <div class="section contacts" id="section-contacts">
        <div class="content">
          <!-- title -->
          <div class="title">
            <div class="title_inner">Контактная форма</div>
          </div>

          <!-- form -->
          <div class="contact_form content-box">
            <form id="cform" method="post">
              <div class="group-val">
                <input type="text" name="name" placeholder="Имя" />
              </div>
              <div class="group-val">
                <input type="email" name="email" placeholder="Email" />
              </div>
              <div class="group-val ct-gr">
                <textarea name="message" placeholder="Сообщение"></textarea>
              </div>
              <div class="group-bts">
                <button type="submit" class="btn hover-animated">
                  <span class="circle"></span>
                  <span class="lnk">Отправить сообщение</span>
                </button>
              </div>
            </form>
            <div class="alert-success">
              <p>Спасибо, ваше сообщение успешно отправлено.</p>
            </div>
            <div class="spinner">
              <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    {{> footer }}

    {{> lines }}

  </div>

  <!-- Scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.validate.js"></script>
  <script src="js/magnific-popup.js"></script>
  <script src="js/simpleParallax.js"></script>
  <script src="js/typed.js"></script>
  <script src="js/jarallax.js"></script>
  <script src="js/jarallax-video.js"></script>
  <script src="js/jarallax-element.js"></script>
  <script src="js/imagesloaded.pkgd.js"></script>
  <script src="js/isotope.pkgd.js"></script>
  <script src="js/swiper.js"></script>
  <script src="js/grained.js"></script>

  <!-- Google map api -->
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp5go_uPMDFMOEJX0Sq-csxi8UulirUJU"></script>

  <script src="js/scripts.js"></script>
</body>

</html>