<!DOCTYPE html>
<html lang="ru">
{{> head }}

<body>
  {{> preloader }}
  <div class="container">
    {{> cursor }}
    {{> header }}
    <div class="wrapper">
      {{!-- start --}}
      <div class="section started section-title" id="section-started">
        <div class="video-bg jarallax" style="background-image: url(images/map.jpg);">
          <div class="video-bg-mask"></div>
          <div class="video-bg-texture" id="grained_container"></div>
        </div>
        <div class="centrize full-width">
          <div class="vertical-center">
            <div class="started-content">
              <h1 class="h-title"></h1>
              <div class="h-subtitles">
                <div class="h-subtitle typing-bread">
                  <p class="breadcrumbs">
                    <a href="/">Главная</a> / Контакты
                  </p>
                </div>
                <span class="typed-bread"></span>
              </div>
            </div>
          </div>
        </div>
        {{> chevron }}
      </div>
      {{!-- contacts --}}
      <div class="section contacts" id="section-contacts-info">
        <div class="content">
          <div class="title">
            <div class="title_inner">Контактная информация</div>
          </div>
          {{> service-items }}
          <div class="clear"></div>
        </div>
      </div>
      {{!-- form --}}
      <div class="section contacts" id="section-contacts">
        <div class="content">
          <div class="title">
            <div class="title_inner">Контактная форма</div>
          </div>
          <div class="contact_form content-box">
            <form id="cform" method="post">
              <div class="group-val">
                <input type="text" name="name" placeholder="Имя" />
              </div>
              <div class="group-val">
                <input type="email" name="email" placeholder="Email" />
              </div>
              <div class="group-val ct-gr">
                <textarea name="message" placeholder="Сообщение"></textarea>
              </div>
              <div class="group-bts">
                <button type="submit" class="btn hover-animated">
                  <span class="circle"></span>
                  <span class="lnk">Отправить сообщение</span>
                </button>
              </div>
            </form>
            <div class="alert-success">
              <p>Спасибо, ваше сообщение успешно отправлено.</p>
            </div>
            <div class="form-spinner">
              <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    {{> footer }}
    {{> lines }}
  </div>
  <script src="./js/libs.min.js"></script>
  <script src="./js/scripts.min.js"></script>
  <script src="./js/form.js"></script>
</body>

</html>