<!DOCTYPE html>
<html lang="ru">
{{> head }}

<body class="home">
  {{> preloader}}
  <div class="container">
    {{> cursor }}
    {{> header }}
    <div class="wrapper">
      {{!-- start --}}
      <div class="section started" id="section-started">
        <div class="video-bg">
          <div class="video-bg-mask"></div>
          <div class="video-bg-texture" id="grained_container"></div>
          <div class="started-carousel">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide first">
                  <div class="main-img" style="background-image: url(images/slide-1.jpg);"></div>
                </div>
                <div class="swiper-slide">
                  <div class="main-img" style="background-image: url(images/slide-2.jpg);"></div>
                </div>
                <div class="swiper-slide">
                  <div class="main-img" style="background-image: url(images/slide-3.jpg);"></div>
                </div>
                <div class="swiper-slide">
                  <div class="main-img" style="background-image: url(images/slide-4.jpg);"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-nav">
          <a class="prev swiper-button-prev fas fa-long-arrow-alt-left"></a>
          <a class="next swiper-button-next fas fa-long-arrow-alt-right"></a>
        </div>
        <div class="centrize full-width">
          <div class="vertical-center">
            <div class="started-content">
              <h1 class="h-title">
                Магазин радиотоваров и радиокомпонентов в
                <strong>Бресте</strong><br />
                <strong>тел.:</strong> +375 (29) 862 56 84
              </h1>
              <div class="h-subtitle typing-subtitle">
                <p>Радио<strong>товары</strong></p>
                <p><strong>Радио</strong>компоненты</p>
                <p>Аксессуары <strong>GSM</strong></p>
              </div>
              <span class="typed-subtitle"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> footer }}
    {{> lines }}
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.validate.js"></script>
  <script src="js/magnific-popup.js"></script>
  <script src="js/simpleParallax.js"></script>
  <script src="js/typed.js"></script>
  <script src="js/jarallax.js"></script>
  <script src="js/jarallax-video.js"></script>
  <script src="js/jarallax-element.js"></script>
  <script src="js/imagesloaded.pkgd.js"></script>
  <script src="js/isotope.pkgd.js"></script>
  <script src="js/swiper.js"></script>
  <script src="js/grained.js"></script>
  <script src="js/scripts.js"></script>
</body>

</html>