<!DOCTYPE html>
<html lang="ru">

{{> head }}

<body>
  {{> preloader }}

  <!-- Container -->
  <div class="container">
    {{> cursor }}

    {{> header }}
    <!-- Wrapper -->
    <div class="wrapper">
      <!-- Section Started -->
      <div class="section started section-title" id="section-started">
        <!-- background -->
        <div class="video-bg jarallax" style="background-image: url(images/bulb_bg.jpg);">
          <div class="video-bg-mask"></div>
          <div class="video-bg-texture" id="grained_container"></div>
        </div>

        <!-- started content -->
        <div class="centrize full-width">
          <div class="vertical-center">
            <div class="started-content">
              <h1 class="h-title">О магазине</h1>
              <div class="h-subtitles">
                <div class="h-subtitle typing-bread">
                  <p class="breadcrumbs">
                    <a href="/">Главная</a> / О магазине
                  </p>
                </div>
                <span class="typed-bread"></span>
              </div>
            </div>
          </div>
        </div>

        <!-- mosue button -->
        <a href="javascript: void(0)" class="mouse_btn" style="display: none;"><span
            class="icon fas fa-chevron-down"></span></a>
      </div>

      <!-- Section About -->
      <div class="section about" id="section-about">
        <div class="content content-box">
          <!-- image -->
          <div class="image">
            <img src="images/door.jpg" alt="Магазин радиотоваров" />
          </div>

          <!-- desc -->
          <div class="desc">
            <p>
              Магазин Radiobox расположен в центре города Брест. Мы занимемся
              розничной торговлей радиотоваров, радиокомпонентов и аксесуаров
              GSM. Мы работаем с физическими и юридическими лицами, принимаем
              оплату наличными и по карточке.
            </p>
            <div class="info-list">
              <ul>
                <li><strong>Время работы:</strong> 10:00-18:00</li>
                <li><strong>Телефон:</strong> +375 (29) 862 56 84</li>
                <li><strong>Telegram:</strong> +375 (29) 585 24 16</li>
                <li><strong>Адрес:</strong> Куйбышева 13 пав.4</li>
                <li><strong>Viber:</strong> +375 (29) 524 87 88</li>
                <li><strong>E-mail:</strong> valbrestgsm@mail.ru</li>
              </ul>
            </div>
            <div class="bts">
              <a href="javascript: void(0)" class="form-pop-up-link btn hover-animated">
                <span class="circle"></span>
                <span class="lnk">Отправиь сообщение</span>
              </a>
            </div>
          </div>

          <div class="clear"></div>
        </div>
      </div>

      <!-- Section Service -->
      <div class="section service" id="section-services">
        <div class="content">
          <!-- title -->
          <div class="title">
            <div class="title_inner">Ассортимент</div>
          </div>

          <!-- service items -->
          <div class="service-items">
            <div class="service-col">
              <div class="service-item content-box">
                <div class="icon"><span class="fas fa-tools"></span></div>
                <div class="name">Все для пайки и радиомонтажа</div>
                <div class="text">
                  У нас в ассортименте имеются аккумуляторы и зарядные
                  устройства, измерительные приборы, куллеры, блоки питания,
                  кнопки, тумблеры, выклучатели, большой выбор химии для пайки
                  и радиомонтажа, припой. А так же термоусадочная трубка,
                  текстолит, макетные платы и оптика.
                </div>
              </div>
            </div>

            <div class="service-col">
              <div class="service-item content-box">
                <div class="icon">
                  <span class="fas fa-charging-station"></span>
                </div>
                <div class="name">Аксессуары GSM</div>
                <div class="text">
                  Подберем зарядное устройство для вашего мобильного телефона.
                  Так же в продаже имеются шнуры USB ,для подключения
                  мобильного телефона к компьютеру, наушники, аккумуляторы,
                  USB- хабы , картридеры...
                </div>
              </div>
            </div>

            <div class="service-col">
              <div class="service-item content-box">
                <div class="icon"><span class="fas fa-microchip"></span></div>
                <div class="name">Радиокомпоненты</div>
                <div class="text">
                  С чего начинается практическая электроника? Конечно с
                  радиодеталей! Их разнообразие просто поражает. У нас вы
                  сможете найти конденсаторы, транзисторы, диоды,
                  потенциометры и многое другое. Есть в наличии и под заказ.
                </div>
              </div>
            </div>

            <div class="service-col">
              <div class="service-item content-box">
                <div class="icon">
                  <span class="fas fa-network-wired"></span>
                </div>
                <div class="name">Шнуры, кабели, переходники</div>
                <div class="text">
                  Кабельная продукция и комплектующие, предназначенные для
                  монтажа сетей широкополосного доступа в интернет, кабельного
                  и спутникового TV, телефонии, систем видеонаблюдения. Это
                  витая пара, коаксиальный кабель, акустический, телефонный,
                  кабельная продукция для ZALA, аудио и видео переходники.
                </div>
              </div>
            </div>

            <div class="service-col">
              <div class="service-item content-box">
                <div class="icon"><span class="fas fa-gamepad"></span></div>
                <div class="name">Пульты дистанционного управления</div>
                <div class="text">
                  Пульты для импортных и отечественных телевизоров, также для
                  спутниковых ресиверов, цифровых приставок, для
                  кондиционеров. Большой ассортимент пультов в наличии и под
                  заказ.
                </div>
              </div>
            </div>

            <div class="service-col">
              <div class="service-item content-box">
                <div class="icon">
                  <span class="fas fa-lightbulb"></span>
                </div>
                <div class="name">Светодиодная продукция</div>
                <div class="text">
                  Светодиоды, cветодиодная лента, cветодиодные модули,
                  cветодиодные лампочки, cветодиодные фонари, cветодиодные
                  прожекторы
                </div>
              </div>
            </div>
          </div>

          <div class="clear"></div>
        </div>
      </div>

      <!-- Section Team -->
      <div class="section team" id="section-team">
        <div class="content">
          <!-- title -->
          <div class="title">
            <div class="title_inner">Наша команда</div>
          </div>

          <!-- team items -->
          <div class="team-items">
            <div class="team-col">
              <div class="team-item content-box">
                <div class="image">
                  <img src="images/vasia-2.jpg" alt="Василий Гаранин" />
                </div>
                <div class="desc">
                  <div class="name">Василий Гаранин</div>
                  <div class="category">
                    Продавец-консультант, менеджер по закупкам
                  </div>
                  <div class="soc">
                    <a target="_blank" href="https://vk.com/id93975502/">
                      <span class="icon fab fa-vk"></span>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/tweek8788/">
                      <span class="icon fab fa-instagram"></span>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/valbrestgsm/">
                      <span class="icon fab fa-facebook"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="team-col">
              <div class="team-item content-box">
                <div class="image">
                  <img src="images/denis.jpg" alt="Денис Щербинский" />
                </div>
                <div class="desc">
                  <div class="name">Денис Щербинский</div>
                  <div class="category">Продавец-консультант, бухгалтер, администратор сайта</div>
                  <div class="soc">
                    <a target="_blank" href="https://vk.com/id5826206/">
                      <span class="icon fab fa-vk"></span>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/des251/">
                      <span class="icon fab fa-instagram"></span>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100001908954271/">
                      <span class="icon fab fa-facebook"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="team-col" style="display: block; margin-left: auto; margin-right: auto;">
              <div class="team-item content-box">
                <div class="image">
                  <img src="images/nadia.jpg" alt="Надежда Щербинская" />
                </div>
                <div class="desc">
                  <div class="name">Надежда Щербинская</div>
                  <div class="category">Директор</div>
                  <div class="soc">
                    <a target="_blank" href="https://vk.com/id144808401/">
                      <span class="icon fab fa-vk"></span>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/lumpa27/">
                      <span class="icon fab fa-instagram"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Section Resume -->
      <!-- <div class="section resume" id="section-history">
        <div class="content">
          <div class="cols">

            <div class="col col-md">

              <div class="title">
                <div class="title_inner">Рейтинг Yandex</div>
              </div>

              <div class="resume-items">
                <div class="resume-item content-box active">
                  <iframe src="https://yandex.ru/sprav/widget/rating-badge/63315047005" width="150" height="50"
                    frameborder="0"
                    style="border-radius: 5px; filter: grayscale(70%); transform: translateX(50%);"></iframe>
                </div>
              </div>

            </div>

            <div class="col col-md">

              <div class="title">
                <div class="title_inner">Рейтинг Google</div>
              </div>

              <div class="resume-items">
                <div class="resume-item content-box">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2451.0544462815915!2d23.689034315313574!3d52.09694067524814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47210be51c1b250f%3A0xbece7b4bd0a9dd1e!2zUmFkaW9Cb3gg0KDQsNC00LjQvtC60L7QvNC_0L7QvdC10L3RgtGLL9Ct0LvQtdC60YLRgNC-0L3QuNC60LAv0KDQsNC00LjQvtGC0L7QstCw0YDRiy_QoNCw0LTQuNC-0LTQtdGC0LDQu9C4!5e0!3m2!1sru!2sby!4v1572100672983!5m2!1sru!2sby"
                    width="150" height="50" frameborder="0" style="border:0;" allowfullscreen=""
                    style="border-radius: 5px; filter: grayscale(70%); transform: translateX(50%);"></iframe>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div> -->

      <!-- Section Testimonials -->
      <div class="section testimonials" id="section-testimonials">
        <div class="content">
          <!-- title -->
          <div class="title">
            <div class="title_inner">Отзывы</div>
          </div>

          <!-- testimonials items -->
          <div class="reviews-carousel">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="reviews-item content-box">
                    <div class="image">
                      <img src="images/user1.png" alt="джон сноу" />
                    </div>
                    <div class="info">
                      <div class="name">джон сноу</div>
                      <div class="company">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                    <div class="text">
                      Единственный магазин, где удалось найти глицериновый
                      флюс. Приятный магазин и персонал. 👍
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="reviews-item content-box">
                    <div class="image">
                      <img src="images/user2.png" alt="Ola Korolczuk" />
                    </div>
                    <div class="info">
                      <div class="name">Ola Korolczuk</div>
                      <div class="company">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                    <div class="text">
                      Отличный магазин! Огромный выбор товаров) уже много
                      времени покупаю там нужные мне товары, покупала зарядку
                      для телефона, отлично работает уже не первый год! И
                      отдельное спасибо продавцам;) вежливость и умение
                      слушать, что хочет покупатель это сейчас редкость) всем
                      советую!
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="reviews-item content-box">
                    <div class="image">
                      <img src="images/user3.png" alt="0.5 WATT" />
                    </div>
                    <div class="info">
                      <div class="name">0.5 WATT</div>
                      <div class="company">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                    <div class="text">
                      Самый лучший магазин радио компонентов в городе Бресте.
                      Очень приятное и вежливое обслуживание. Всегда нахожу то
                      что нужно.
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="reviews-item content-box">
                    <div class="image">
                      <img src="images/user4.png" alt="Сеня Щербинский" />
                    </div>
                    <div class="info">
                      <div class="name">Сеня Щербинский</div>
                      <div class="company">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                    <div class="text">
                      Лучший магазин, огромный ассортимент и персонал
                      приятный, все на высшем уровне, закупаться только там)
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="reviews-item content-box">
                    <div class="image">
                      <img src="images/user5.png" alt="Александр Огородник" />
                    </div>
                    <div class="info">
                      <div class="name">Александр Огородник</div>
                      <div class="company">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                    <div class="text">
                      Хороший выбор, и приятный продавец.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- navigation -->
            <div class="swiper-nav">
              <a class="prev swiper-button-prev fas fa-long-arrow-alt-left"></a>
              <a class="next swiper-button-next fas fa-long-arrow-alt-right"></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Section Clients -->
      <div class="section clients" id="section-clients">
        <div class="content">
          <!-- title -->
          <div class="title">
            <div class="title_inner">Наши партнеры</div>
          </div>

          <!-- clients items -->
          <div class="content-box">
            <div class="clients-items">
              <div class="clients-col">
                <div class="clients-item">
                  <a target="_blank" href="https://www.robiton.ru/">
                    <img src="images/robiton-logo.png" alt="Robiton" />
                  </a>
                </div>
              </div>

              <div class="clients-col">
                <div class="clients-item">
                  <a target="_blank" href="https://www.rexant.ru/">
                    <img src="images/rexant-logo.png" alt="Rexant" />
                  </a>
                </div>
              </div>

              <div class="clients-col">
                <div class="clients-item">
                  <a target="_blank" href="http://www.proconnect.su/">
                    <img src="images/proconnect-logo.png" alt="Proconnect" />
                  </a>
                </div>
              </div>

              <div class="clients-col">
                <div class="clients-item">
                  <a target="_blank" href="https://hocotech.com/ru/">
                    <img src="images/hoco-logo.png" alt="Hoco" />
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="clear"></div>
        </div>
      </div>

      <!-- Section Custom Text -->
      <div class="section custom-text" id="section-custom-text">
        <div class="content">
          <!-- title -->
          <div class="title">
            <div class="title_inner">Подписка</div>
          </div>

          <!-- clients items -->
          <div class="content-box">
            <div class="single-post-text">
              <p>
                Наш ассортимент постоянно обновляется и если вы хотите быть в
                курсе всех новинок, подписывайтесь на наш
                <a target="_blank" href="https://www.instagram.com/radioboxbrest/">instagram</a> а так же группу
                <a target="_blank" href="https://vk.com/radioboxbrest/">Вконтакте</a>. Если вам интересно сделать что то
                своими руками подписывайтесь на наш <a target="_blank"
                  href="https://www.youtube.com/user/maximumsvoimirukami/">YouTube</a> канал.
              </p>
              <p>
                Если у вас есть вопросы, просто заполните <a class="form-pop-up-link" href="#">форму обратной связи</a>
                и мы в скором времени свяжемся с вами.
              </p>
            </div>
          </div>

          <div class="clear"></div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="copy">
        <p>E: valbrestgsm@mail.ru</p>
        <p>T: +375 (29) 862 56 84</p>
      </div>
      <div class="soc-box">
        <div class="follow-label">Мы в соцсетях</div>
        <div class="soc">
          <a target="_blank" href="https://vk.com/radioboxbrest/">
            <span class="icon fab fa-vk"></span>
          </a>
          <a target="_blank" href="https://www.instagram.com/radioboxbrest/">
            <span class="icon fab fa-instagram"></span>
          </a>
          <a target="_blank" href="https://www.youtube.com/user/maximumsvoimirukami/">
            <span class="icon fab fa-youtube-square"></span>
          </a>
        </div>
      </div>
      <div class="clear"></div>
    </footer>

    <!-- Form pop-up -->
    <div class="form-pop-up">
      <div class="section contacts" id="section-contacts">
        <div class="content">
          <div class="title pop-up-title">
            <div class="title_inner">Контактная форма</div>
            <a href="javascript: void(0)"><i class="fas fa-times pop-up-close"></i></a>
          </div>
          <div class="contact_form content-box">
            <form id="cform" method="post">
              <div class="group-val">
                <input type="text" name="name" placeholder="Имя" />
              </div>
              <div class="group-val">
                <input type="email" name="email" placeholder="Email" />
              </div>
              <div class="group-val ct-gr">
                <textarea name="message" placeholder="Сообщение"></textarea>
              </div>
              <div class="group-bts">
                <button type="submit" class="btn hover-animated">
                  <span class="circle"></span>
                  <span class="lnk">Отправить сообщение</span>
                </button>
              </div>
            </form>
            <div class="alert-success">
              <p>...</p>
            </div>
            <div class="spinner">
              <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <!-- Lines -->
    <div class="lines">
      <div class="line-col"></div>
      <div class="line-col"></div>
      <div class="line-col"></div>
      <div class="line-col"></div>
      <div class="line-col"></div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.validate.js"></script>
  <script src="js/magnific-popup.js"></script>
  <script src="js/simpleParallax.js"></script>
  <script src="js/typed.js"></script>
  <script src="js/jarallax.js"></script>
  <script src="js/jarallax-video.js"></script>
  <script src="js/jarallax-element.js"></script>
  <script src="js/imagesloaded.pkgd.js"></script>
  <script src="js/isotope.pkgd.js"></script>
  <script src="js/swiper.js"></script>
  <script src="js/grained.js"></script>
  <script src="js/scripts.js"></script>
</body>

</html>