<!DOCTYPE html>
<html lang="ru">
{{> head }}

<body>
  {{> preloader }}
  <div class="container">
    {{> cursor }}
    {{> header }}
    <div class="wrapper">
      <!-- start -->
      <div class="section started layout-creative" id="section-started">
        <div class="video-bg">
          <div class="video-bg-mask"></div>
          <div class="video-bg-texture" id="grained_container"></div>
        </div>
        <div class="centrize full-width">
          <div class="vertical-center">
            <div class="started-content">
              <h1 class="h-title">Полезные видео</h1>
              <div class="h-subtitles">
                <div class="h-subtitle typing-subtitle" style="display: none;">
                  <p>Подписываемся на <strong>канал</strong></p>
                  <p>Ставим <strong>лайк</strong></p>
                  <p>Включаем <strong>уведомление</strong></p>
                </div>
                <span class="typed-subtitle"></span>
              </div>
              <a class="h-subtitle" href="https://www.youtube.com/channel/UCJdH0xlcuiLY5fElWcxUSqw" target="_blank">DVM
                - все своими руками</a>
            </div>
          </div>
        </div>
      </div>
      <!-- video -->
      <div class="section works" id="section-portfolio">
        <div class="content">
          <div class="box-items portfolio-items">
            {{#each video}}
            <div class="box-item f-video">
              <div class="image">
                <a href="{{this.link}}" class="has-popup-video hover-animated">
                  <img src="{{this.img}}" class="wp-post-image" alt="{{this.title}}" />
                  <span class="info circle">
                    <span class="centrize full-width">
                      <span class="vertical-center">
                        <span class="icon fas fa-video"></span>
                        <span class="desc">
                          <span class="category">Видео</span>
                          <span class="name">{{this.title}}</span>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
            {{/each}}
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    {{> footer }}
    {{> lines }}
  </div>
  <script src="./js/libs.js"></script>
  <script src="./js/scripts.js"></script>
</body>

</html>