<!DOCTYPE html>
<html lang="ru">

{{> head }}

<body>
  {{> preloader }}
  <div class="container">
    {{> cursor }}
    {{> header }}
    <div class="wrapper">
      <!-- start -->
      <div class="section started section-title" id="section-started">
        <div class="video-bg jarallax" style="background-image: url(images/tech.jpg);">
          <div class="video-bg-mask"></div>
          <div class="video-bg-texture" id="grained_container"></div>
        </div>
        <div class="centrize full-width">
          <div class="vertical-center">
            <div class="started-content">
              <h1 class="h-title">Галерея</h1>
              <div class="h-subtitles">
                <div class="h-subtitle typing-bread">
                  <p class="breadcrumbs">
                    <a href="/">Главная</a> / Галерея
                  </p>
                </div>
                <span class="typed-bread"></span>
              </div>
            </div>
          </div>
        </div>
        {{> chevron }}
      </div>
      <!-- gallery -->
      <div class="section works" id="section-portfolio">
        <div class="content">
          <div class="box-items portfolio-items">

            <div class="box-item f-links">
              <!-- add class "animate-to-page" if need animated transition to page and delete target="_blank" -->
              <div class="image">
                <a href="/photo" class="has-popup-link hover-animated animate-to-page">
                  <img src="./images/products.jpg" class="wp-post-image" alt="Фото Магазина" />
                  <span class="info circle">
                    <span class="centrize full-width">
                      <span class="vertical-center">
                        <span class="icon fas fa-link"></span>
                        <span class="desc">
                          <span class="category">Перейти в раздел</span>
                          <span class="name">Фото Магазина</span>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
            </div>

            <div class="box-item f-links">
              <!-- add class "animate-to-page" if need animated transition to page and delete target="_blank" -->
              <div class="image">
                <a href="/video" class="has-popup-link hover-animated animate-to-page">
                  <img src="./images/dvm-banner.jpg" class="wp-post-image" alt="Полезные видео" />
                  <span class="info circle">
                    <span class="centrize full-width">
                      <span class="vertical-center">
                        <span class="icon fas fa-link"></span>
                        <span class="desc">
                          <span class="category">Перейти в раздел</span>
                          <span class="name">Полезные видео</span>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
            </div>

            <div class="box-item f-links">
              <!-- add class "animate-to-page" if need animated transition to page and delete target="_blank" -->
              <div class="image">
                <a href="/links" class="has-popup-link hover-animated animate-to-page">
                  <img src="./images/rexant-banner.jpg" class="wp-post-image" alt="Журналы \" Rexant\"" />
                  <span class="info circle">
                    <span class="centrize full-width">
                      <span class="vertical-center">
                        <span class="icon fas fa-link"></span>
                        <span class="desc">
                          <span class="category">Перейти в раздел</span>
                          <span class="name">Журналы "Rexant"</span>
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
            </div>

          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    {{> footer }}
    {{> lines }}
  </div>

  <script src="./js/libs.min.js"></script>
  <script src="./js/scripts.min.js"></script>
</body>

</html>